@media screen and (min-width: 32.5em) {
  header{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  body {
    margin: 0 auto;
    padding-top: 1em;
    max-width: 500px;
  }

  footer{
    border-radius: 10px;
  };
}
