@media screen and (min-width: 32.5em) {
  header,
  footer {
    border-radius: 10px;
    display: table;
    padding: unset;
    max-width: unset;
    width: 100%;
  }

  header img {
    float: left;
  }

  header h1 {
    padding: 1.4em 0;
  }

  body {
    margin: 0 auto;
    padding-top: 1em;
    max-width: 500px;
  }
}
