@media screen and (min-width: 600px) {
  #header-logo {
    height: 90px;
  }
  header h1 {
    font-size: 40px;
  }
  #main-spotlights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #spotlight-1 {
    flex-grow: 1;
    margin-right: 2px;
  }

  #spotlight-2 {
    flex-grow: 1;
    margin-left: 2px;
  }
  #main-join {
    display: block;
  }

  #footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
  }
  #footer-top-left {
    display: flex;
    text-align: left;
  }

  .address {
    padding-left: 10px;
    max-width: 200px;
  }
  #footer-top-right p {
    margin: 4px;
  }
  #footer-bottom p {
    display: inline;
    white-space: nowrap;
  }
  #footer-bottom {
    display: inline;
    padding-left: 80px;
    padding-right: 80px;
  }
  .footer-copy-spacer {
    display: block;
  }
}
