:root{
    --header-font : 'Oswald', sans-serif;
    --paragraph-font : 'IBM Plex Serif', serif;
    --primary-color : #157A6E;
    --secondary-color : #77B28C;
    --soft-grey : #C2C5BB;
    --tertiary-color : #499F68;
    --accent : #B4654A;
  }

@media screen and (min-width: 565px) {
    #header-logo {
        height: 80px;
    }
    #header-top-right{
        justify-content: space-between;
    }
    #main-spotlights{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #spotlight-1{
        flex-grow: 1;
        margin-right: 2px;
    }

    #spotlight-2{
        flex-grow: 1;
        margin-left: 2px;
    }
    #main-join{
        display: block;
    }
    
    #footer-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #footer-top-left{
        display: flex;
        text-align: left;
    }

    .address{
        padding-left: 10px;
        max-width: 200px;
    }

    #footer-top-right{
        padding: 40px;
    }
    #footer-top-right p{
        margin: 4px1;
    }
    #footer-bottom p{
        display:inline;
        white-space: nowrap;
    }
    #footer-bottom{
        display: inline;
        padding-left: 80px;
        padding-right: 80px;
    }
    .footer-copy-spacer {
        display: block;
      }
  }
  