@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600&family=Open+Sans:wght@300;600&family=Roboto+Mono:wght@300;400&display=swap");

:root {
  --headline-font: "Inconsolata", monospace;
  --body-font: "Roboto Mono", monospace;
  --primary-color: #3e8989;
  --secondary-color: #373f51;
  --accent-1: #eebfc2;
  --accent-2: #dbd053;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headline-font);
  font-weight: 600;
}

header, footer {
  background-color: var(--secondary-color);
  font-family: var(--headline-font);
  color: white;
  padding: 1em;
  text-align: center;
}

header img {
  width: 100px;
  filter: drop-shadow(0 0 8px black);
}

menu{
    display: grid;
    text-align: center;
    padding: 0;
    font-family: var(--headline-font);
    font-size: 24px;
}

menu a{
    background-color: var(--secondary-color);
    width: 100%;
    text-decoration: none;
    color: white;
}

menu a:hover, menu a:active{
    background-color:  var(--primary-color);
}


main {
  padding: 1em;
  font-family: var(--body-font);
}

.footer-copyright {
  font-size: 14px;
  margin: 0;
}

.footer-timestamp {
  font-size: 12px;
  color: var(--accent-1);
  margin: 0;
}

table, td{
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
}

td{
    padding: 5px;
}

#headSample{
 font-family: var(--headline-font);
 font-size: 36px;
}

#navSample, #footSample{
    font-family: var(--headline-font);
    font-size: 24px;
}

@media screen and (min-width: 32.5em) {
    header{
      align-items: center;
    }

    menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
  
    body {
      margin: 0 auto;
      padding-top: 1em;
      max-width: 1000px;
    }
  }