/*General Styles*/
:root{
  --header-font : 'Oswald', sans-serif;
  --paragraph-font : 'IBM Plex Serif', serif;
  --primary-color : #157A6E;
  --secondary-color : #77B28C;
  --soft-grey : #C2C5BB;
  --tertiary-color : #499F68;
  --accent : #B4654A;
}

body{
  font-family: var(--paragraph-font);
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--header-font);
}

h1{
  color: var(--accent);
  font-size: 32px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 18px;
}


/* Header Styles */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid var(--soft-grey);
}

header h1, .header h1{
  font-family: var(--header-font);
  font-size: 40px;
  color: black;
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav li{
  list-style: none;
  padding: 0 10px;
}

nav a{
  text-decoration: none;
  padding: 10px 0;
}

nav a, .nav{
  color: black;
  font-size: 18px;
  font-family: var(--paragraph-font);
}

nav a:hover{
  border-bottom: 2px solid var(--tertiary-color);
}

/* Main Styles*/
main{
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

#logo-plan{
  height: 200px;
}

/* Footer Styles*/

footer{
  text-align: center;
  border-top: 1px solid var(--soft-grey);
}

footer, .footer{
  font-size: 16px;
  font-family: var(--paragraph-font);
}


/* Color Scheme https://coolors.co/157a6e-499f68-77b28c-c2c5bb-b4654a */
#color-scheme li{
  line-height: 150%;
}

#color-scheme-primary{
  background-color: var(--primary-color);
  color: white;
  padding: 0 3px;
}

#color-scheme-secondary{
  background-color: var(--secondary-color);
  color: white;
  padding: 0 3px;
}

#color-scheme-tertiary-color{
  background-color: var(--tertiary-color);
  color: white;
  padding: 0 3px;
}

#color-scheme-accent{
  background-color: var(--accent);
  color: white;
  padding: 0 3px;
}

.nav-accent{
  background-color: var(--tertiary-color);
}

#soft-grey-fill{
  background-color: var(--soft-grey);
}


/* Tables */
table td{
  border: 1px solid var(--soft-grey);
  padding: 2px 8px;
  min-width: 50px;
}

table{
  border-collapse: collapse;
}